
.todos {
    margin-top: 2%;
}

#item-id {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    
    
}

.todo-items{
    border : 1px solid red;
    margin: auto;
    width: 60%;
    padding : 0.5% 0.5% 0.5% 1%;
}

.todo-item {
    text-decoration: line-through;
    text-decoration-color: red;
;
}

#todo-id:nth-child(odd) {
    background-color: lightgrey;
}

#todo-id:hover {
    background-color: rgb(180, 179, 179);
}

.todo-button {
    
    align-self: center;

    border: 1px solid black;
    cursor: pointer;
}

.todo-button:hover{
    background-color: red;
    color: #fff;
}

.TodoList{
    background-color:#eee;
}


.items-to-display{
    padding-bottom: 20px;
}

