.todos {
    margin-top: 2%;
}

#item-id {
    cursor: pointer;
}

.todo-items{
    font-size : 20px;
    font-style : monospace;
    border : 1px solid red;
    margin: auto;
    width: 60%;
    padding : 0.5% 0.5% 0.5% 1%;
}

.todo-item {
    text-decoration: line-through;
    text-decoration-color: red;
    background-color: red;
}

#todo-id:nth-child(odd) {
    background-color: lightgrey;
}

#todo-id:hover {
    background-color: rgb(180, 179, 179);
}